*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'main main main main main'
  'main main main main main'
  'footer footer footer footer footer'
  ;
  grid-template-columns: 5% 10%;
  grid-template-rows: 15% 65%;
  width: 100vw;
  height: 100vh;
}

#header{grid-area: header;background: gray;}
#footer{grid-area: footer;background: gray;}
#main{grid-area: main; }

#menu:hover{
 display: none;
  
}

