*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'main main main main main'
  'main main main main main'
  'footer footer footer footer footer'
  ;
  grid-template-columns: 5% 10%;
  grid-template-rows: 15% 65%;
  width: 100vw;
  height: 100vh;
}

#header{grid-area: header;background: gray;}
#footer{grid-area: footer;background: gray;}
#main{grid-area: main; }

#menu:hover{
 display: none;
  
}
/* 
.div{
  color:red;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  margin-left:46.6%;
  margin-right:46.7%;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
} */
.div{
  background: red;
  width: 30vw;
  height: 30vh;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 35%;
}